<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

  <Properties>

    <Property name="AppName">portfolio</Property>
    <Property name="Directory">C:/Paul/JavaWeb/applogs/${AppName}/</Property>
    <Property name="Prefix">${AppName}-</Property>
    <Property name="Suffix">-log.txt</Property> 
    <Property name="FileName">${Directory}${Prefix}${Suffix}</Property>
    <Property name="FilePattern">${Directory}${Prefix}%d{yyyy-MM-dd}${Suffix}</Property> 
    <Property name="PatternLayout">[%d{yyyy-MMM-dd HH:mm:ss,SSS}]%-5p(%C{3}:%L) - %m%n</Property>

  </Properties>

  <Appenders>

    <Console name="console-log" target="SYSTEM_OUT">
      <PatternLayout pattern="${PatternLayout}"/>
    </Console>
 
    <RollingFile name="file-log" filePattern="${FilePattern}" bufferedIO="true" immediateFlush="true" filePermissions="rw-rw-r--">

      <PatternLayout pattern="${PatternLayout}"/>
    
      <Policies>
          <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>

    </RollingFile>
 
  </Appenders>

  <Loggers>

    <!-- Log app stuff -->
    <Logger name="com.pas" level="debug" additivity="false">
      <AppenderRef ref="console-log"/>
      <AppenderRef ref="file-log"/>
    </Logger>
    
    <!-- displaytag stuff -->
    <Logger name="org.displaytag" level="error" additivity="false">
      <AppenderRef ref="console-log"/>
      <AppenderRef ref="file-log"/>
    </Logger>  
    
    <!-- netty stuff -->
    <Logger name="io.netty" level="error" additivity="false">
      <AppenderRef ref="console-log"/>
      <AppenderRef ref="file-log"/>
    </Logger>  
     
    <Root level="error"> 
      <AppenderRef ref="console-log"/>
      <AppenderRef ref="file-log"/>
    </Root>

  </Loggers>

</Configuration>
 