.pageTitle
{
	font-family: Arial,Verdana, Geneva,Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color:#000000;		
}

.bodyTitle
{
	font-family:Arial,Verdana, Geneva, Helvetica, sans-serif;
	font-size:20px;
	font-weight: bold;
	color:#990000;
	text-align:left;
	vertical-align:top;
}

.bodyTag
{ 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-top: 0px; 
	background-color: #339900; 
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

.body 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}
.body8pt 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.bodyBoldUser
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color:'#F2F2E6';
}
.bodyBold
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color:'#000000';
}
.bodyBold8pt
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: bold; 
	color:'#000000';
}
.bodyBoldRed
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color:'#cc0000';
}
.bodyBoldGrey
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color:'#999999';
}
.copyright
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}


/* Message Styles */

.infoMessages
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #0000FF 
}

.warnMessages
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #cc0000 
}

.errorMessage
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #cc0000 
}

.exceptionMessages
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #cc0000 
}

/* Form Element Styles */

.button
{ 
	color: #000000; 
	font-family: Arial,Ms Sans Serif; 
	font-weight: bold; 
}

.inputNum2
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	width: 21px; 
}

.inputNum3
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	width: 28px; 
}

.inputNum4
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	width: 35px; 
}

.inputNum5
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	width: 42px; 
}

.inputNum10
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	width: 77px; 
}

.phoneCharacters
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14pt; 
}

/* Table Styles */
.tableNormal
{
	border-width: 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 4;	
}
.tableWithBorders
{
	border-width: 1;
	width: 100%;
	border-spacing: 4;	
}
.labelWhite
{
	color: white;
	font-size: 12pt; 
}	
.whiteBox
{	
	border-width: 1; 
	border-style: solid; 
	border-color: Black; 
	background-color: #ffffff; 
	width: 350px; 
}

.tableHeading
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none; 
	text-align:center:
}

.tableData
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	background-color:#f2f2e6;
	text-align:center;
}
.tableDataLeft
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	background-color:#f2f2e6;
	text-align:left;
}
.tableDataRight
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	font-weight: bold; 
	background-color: #339900; 
	text-align:right;
}

.tableNoAData
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	background-color:#f2f2e6;
}

.tableDataItalic
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	font-weight: italic; 
}
.headerRow
{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #CCCC98;
	color: #ffffcc;
	text-align:center;
}

.rowGreen
{ 
	background-color: #339900; 		
}

.rowRed
{ 
	background-color: #cc0000; 		
}

.rowOdd
{ 
	background-color: #ffff66; 		
}

.rowEven
{ 
	background-color: #6666ff; 		
}

.row
{ 
	background-color: #ffffff; 
	height: 24px; 
}

.clearRow 
{ 
	height: 24px; 
}

.rowLine 
{ 
	background-color: #000000; 
	height: 1px; 
}

.rowLine6
{ 
	background-color: #ffffff; 
	height: 6px; 
}
.rowLine12 
{ 
	background-color: #ffffff; 
	height: 12px; 
}

.fieldsetTitleBox
{ 
	background-color: #e0e0cf; 
	color: #ffffcc;
	width:100%;
	text-align:left;
}

.fieldsetTitle
{ 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #ffffff;
	width:1%;
	white-space: nowrap;
	background-color: #990000; 
	border-right: 6px solid #990000;
	border-left: 6px solid #990000;
}

.fieldsetBox 
{ 
	border-width: 1; 
	border-style: solid; 
	border-color: #355575; 
	background-color: #f2f2e6; 
}

.filterfont
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #355575; 
	text-decoration: none 
}

.topTable 
{
    border-width: 0px 0px 0px 0px; 
	border-color:'#990000'; 
	border-spacing: 0px;
	padding: 0% 0% 0% 0%; 
	background-color: '#990000';
	width:'100%';
	border-bottom: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.topDiv
{
	background-color:'#e0e0cf';
	width:'780px';
	border-width:0px;
	border-right-style: solid;
	border-right-color: #990000;
	border-left-style: solid;
	border-left-color: #990000;
	height: 100%;
}
.contentDiv
{
	background-color:'#e0e0cf';
	width:'760px';
	border-width:0px;
	height: 600px;
}

.upbutton
{
	background-image: url("../images/up.gif");                     
	padding: 0px 0px 0px 0px;          
	border-width:0px 0px 0px 0px;
	margin-top: 0px;
	margin-left:0px;
	text-align: left;
 	background-position: center;
  	background-repeat: no-repeat;
	cursor:hand;
	background-color:'#e0e0cf';
}
.dnbutton
{
	background-image:url("../images/down.gif");                     
	padding: 0px 0px 0px 0px;          
	border-width:0px 0px 0px 0px;
	margin-top: 0px;
	margin-left:0px;
	text-align: inherit;
 	background-position:center;
  	background-repeat: no-repeat;
  	cursor:hand;
	background-color:'#e0e0cf';
}
.rtbutton
{
	background-image: url("../images/next.gif");                     
	padding: 0px 0px 0px 0px;          
	border-width:0px 0px 0px 0px;
	margin-top: 0px;
	margin-left:0px;
	text-align: left;
 	background-position: left;
  	background-repeat: no-repeat;
	cursor:hand;
	height:35px;
	width:25px;
	background-color:'#e0e0cf';
}
.ltbutton
{
	background-image:url("../images/prev.gif");                     
	padding: 0px 0px 0px 0px;          
	border-width:0px 0px 0px 0px;
	margin-top: 0px;
	margin-left:0px;
	text-align: inherit;
 	background-position:left;
  	background-repeat: no-repeat;
  	cursor:hand;
	height:35px;
	width:25px;
	background-color:'#e0e0cf';
}
.buttondisabled
{
    border-width:0px 0px 0px 0px;
  	cursor:default;
	background-color:'#f2f2e6';
}
.readOnly
{
   background-color:'#dddddd';
}
.plain
{
   background-color:'#ffffff';
}
.adminMenu
{
   position:relative;
   top:0px; 
   left:201px; 
   visibility:hidden; 
   z-index:1;
}
.smallSelect
{
	font-size: 8pt; 
}
.redlink
{ 
	color: #cc0000; 
}

.myTitleBox 
{ 
	background-color: #e0e0cf; 
	text-align:left;
}

.myTitle
{ 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #ffffff;
	white-space: nowrap;
    padding: 3px 0px;
	background-color: #990000; 
	border-left: 4px solid #990000;
	border-right: 2px solid #CCCC98;
}

.myBox 
{ 
	border-width: 1; 
	border-style: solid; 
	border-color: #355575; 
	background-color: #f2f2e6;
}

.appDetailTitle
{ 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #ffffff;
	white-space: nowrap;
    padding: 3px 0px;
	background-color: #990000; 
	border-left: 4px solid #990000;
	width: 700px;
}

.appDetailWithMenu
{
	background-color: #CCCC98;
	border: none;
	overflow: auto;
	width: 700px;
	height: 415;
	margin: 0px;
	border-left: 0px #CCCC98 solid;
}

.appDetail
{
	background-color: #CCCC98;
	border: none;
	overflow: auto;
	width: 700px;
	height: 470;
	margin: 0px;
	border-left: 0px #CCCC98 solid;
}

.appSummaryTitle
{ 
	font-family: Arial; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #ffffff;
	white-space: nowrap;
    padding: 3px 0px;
	background-color: #990000; 
	border-left: 4px solid #990000;
	width: 295px;
}

.bodySmall
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.bodySmallBold
{ 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: bold; 
	color:'#000000';
}
.suggest_link
{
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}
.suggest_link_over
{
	background-color: #3366CC;
	padding: 2px 6px 2px 6px;
}
#search_suggest
{
	position: absolute; 
	background-color: #FFFFFF; 
	text-align: left; 
	border: 1px solid #000000;			
}	
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: white;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 5px solid #999;
  margin: 0 0.1em;
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}
.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.sub-menu {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

.ajaxVisualFeedback {
    width: 16px;
    height: 16px;
    background-image: url('../images/indicator.gif');
    background-repeat: no-repeat;
    float: right;
}	